@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}
.card {
  text-align: center;
  display: inline-block;
  margin: auto;
  height: 480px;
  width: 350px;
  border-radius: 8px;
  padding: 20px;
  padding-top: 180px;
  position: relative;
  font-size: 75px;

  &:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 75px;
  }
  &:after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 75px;
    transform: rotate(180deg);
  }
  &.spade,
  &.club {
    color: black;
    & > span {
      color: black;
    }
  }
  &.spade {
    &:before,
    &:after {
      content: "♠";
    }
  }
  &.club {
    &:before,
    &:after {
      content: "♣";
    }
  }

  &.heart,
  &.diamond {
    color: red;
    & > span {
      color: red;
    }
  }
  &.heart {
    &:before,
    &:after {
      content: "♥";
    }
  }
  &.diamond {
    &:before,
    &:after {
      content: "♦";
    }
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
